body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.hero {
    width: 100%;
}

.header {
    position: relative;
}

.navbar {
    position: fixed;
    background-color: #271b20;
    opacity: .8;
    color: #fff;
    top: 0;
    width: 100%;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    font-family: "Spirax", sans-serif;
    text-decoration: none;
    color: #fff;
    width: 100px;
    display: block;
    padding: 25px 20px;
    font-size: 3rem;
    text-align: center;
}

h1 {
    font-size: 2rem;
    color: #8e0001;
    font-family: "Spirax", sans-serif;
    font-size: 4rem;
    display: flex;
    justify-content: center;
}