body {
    margin: 0;
    background: #eee;
}

.hero {
    width: 100%;
}

.nav {
    position: fixed;
    background-color: #271b20;
    color: #fff;
    opacity: .9;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 30px 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav a {
    color: #fff;
    font-size: 3rem;
    font-family: "Spirax", sans-serif;
    text-decoration: none;
    margin: 0 20px;
    margin-right: 20px;
}